.login-section{
         background-color: #5832e2;
         font-family: "Quicksand",sans-serif;
         height: 100vh;
         weight: 100vh;
}
.login-form {
         padding:30px 70px;
         border-radius: 20px;
         box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
         background-color: #593ebd;
         color: black;
         border-radius: 12px;
}
.sing-in{
         display: inline-block;
         padding: 8px 22px;
         background-color: #a52ef5;
         box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
         font-weight: 600;
         font-size: 20px;
         color: #fff;
         border: 0;
         border-radius: 5px;
}
.googleSingIN{
         display: inline-block;
         padding: 8px 22px;
         background-color: #4269DB;
         font-weight: 600;
         font-size: 20px;
         color: #fff;
         border: 0;
         border-radius: 5px;
}
